﻿.ui-mobile [data-role="page"] {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  height: 100% !important;
}

.ui-mobile [data-role="footer"] {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

#viewport {
  background: none;
  border: 1px solid red;
}

#viewport.viewport-border-active { border-color: green; }

#message { margin: 0; }

#popupInfoButton { margin: 10px; }

#popupInfo { max-width: 350px; }